/target
/flake.nix
/flake.lock
/config.json
!/config.example.json
*.config.json
!*.config.example.json
/.twiist_session.json
/.twiistsync_tidepool_state.json
*_session.json
*tidepool_state.json
*.state.json
*.dump.json
*.package.json
*.tmp
.DS_Store
.direnv/
**/*.swp
